.home-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  background-color: #E5E5E5;

  .top-bar {
    width: 100%;
    height: 54px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: #FFFFFF;
    border-bottom: 1px solid #DBDBDB;
    
    margin-right: 108px;

    .top-bar-content {

      width: 932px;

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      margin: auto;
      
      .profile-data {
  
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
  
        > span {
          font-family: Arial;
          font-size: 14px;
          font-weight: 400;

          color: #262626;
  
          margin-right: 12px;
        }
  
        .avatar-img {
          width: 22px;
          height: 22px;
  
          border-radius: 22px;
        }
      }
    }
  }

  .post {
    width: 932px;
    height: 598px;

    display: flex;
    flex-direction: row;

    
    border: 1px solid #DBDBDB;
    border-radius: 3px;

    margin: {
      top: 20px;
      left: auto;
      right: auto
    };

    .post-img {
      width: 598px;
      height: 598px;

      border: {
        top-left-radius: 3px;
        bottom-left-radius: 3px;
      }
    }

    .comments {
      width: 334px;
      height: 598px;

      background-color: #FFFFFF;

      border: {
        top-right-radius: 3px;
        bottom-right-radius: 3px;
      }

      .owner-description {
        width: 334px;
        height: 73px;

        display: flex;
        flex-direction: row;

        border-bottom: 1px solid #EFEFEF;

        .owner-img {
          width: 32px;
          height: 32px;

          border-radius: 32px;

          margin: {
            top: 20px;
            bottom: 21px;
            left: 16px;
            right: 16px;
          };
        }

        .owner-info {
          flex: 1;

          display: flex;
          flex-direction: column;

          margin: {
            top: 19px;
            bottom: 19px;
          };

          .owner-name {
            font-family: Arial;
            font-size: 14px;
            font-weight: 700;

            color: #262626;

            margin-bottom: 2px;
          }
  
          .owner-location {
            font-family: Arial;
            font-size: 12px;
            font-weight: 400;

            color: #262626;
          }
        }
      }

      .comments-area {
        width: 334px;
        height: 449px;

        overflow-x: auto;
      }

      .comments-area::-webkit-scrollbar {
        width: 0px;
      }

      .other-infos {
        width: 334px;
        height: 72px;

        display: flex;
        flex-direction: column;

        border-top: 1px solid #EFEFEF;

        overflow: hidden;

        .comments-number {
          font-family: Arial;
          font-size: 14px;
          font-weight: 700;

          color: #262626;

          margin: {
            top: 16px;
            bottom: 4PX;
            left: 16px;
          };
        } 

        .post-date {
          font-family: Arial;
          font-size: 10px;
          font-weight: 400;

          color: #8E8E8E;

          margin: {
            bottom: 16PX;
            left: 16px;
          };
        }
      }
    }
  }

  .more {
    width: 932px;
    
    border-top: 1px solid #EFEFEF;

    margin: {
      top: 48px;
      left: auto;
      right: auto;
    }

    > span {
      font-family: Arial;
      font-size: 14px;
      font-weight: 700;
      line-height: 30px;

      color: #8E8E8E;
    }

    .more-posts {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      margin-top: 20px;

      .related-img {
        width: 280px;
        height: 280px;

        margin-bottom: 46px;
      }

      .related-img:nth-child(3n+2) {
        margin: {
          left: 46px;
          right: 46px;
        }
      }
    }
  }

  footer {
    margin: {
      top: 2px;
      bottom: 60px;
      left: auto;
      right: auto;
    };
  }
}